.event-details {
    display: flex;
    justify-content: center;
    width: 80%;
    // background-color: yellow;

    .quick-info {
        width: 25%;
        border-right: 1px solid #F2F2F2;
        height: 100vh;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-family: 'Poppins', sans-serif;
        text-align: right;
    }

    .access {
        width: 63%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    

        .banner {
            background-image: linear-gradient(to bottom right, purple, #65A5F8);
            font-size: 30px;
            // background-color:  #800FF8;
            margin-left: 50px;
            color: white;
            padding: 50px;
            width: 100%;
        }

        .comments {
            width: 100%;
            margin-left: 50px;
            margin-top: 50px;
            // background-color: blue;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            input {
                padding: 12px 12px 12px 30px;
                width: 430px;
                border-radius: 26px;
                border: 1px solid #800FF8;
                font-family: 'Poppins', sans-serif;
            }

            input:focus {
                outline: none
            }

            .comment {
                display: flex;
                align-items: center;
                margin-top: 20px;
                font-family: 'Poppins', sans-serif;

                .avatar {
                    border-radius: 50%;
                    padding: 3px;
                    width: 35px;
                    height: 35px;
                    border: 1px solid #e0dfdf;
                    margin-right: 10px;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .name {
                        font-size: 10px;
                        margin: 0;
                        color: grey
                    }

                    .content {
                        margin: 0
                    }
                }
            }
        }
    }
}