.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E6E4E4;
    height: 60px;

    .logo {
        // background-color: blue;
        width: 100%;
        text-align: left;
        padding-left: 150px;
    }

    .navigation {
        // background-color: yellow;
        width: 100%;
    }
}